# ============================
# Virtual Environment
# ============================
data_to_insight/
venv/
.env

# ============================
# Python Cache
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Spark / Hadoop
# ============================
spark-warehouse/
metastore_db/
derby.log
checkpoint/

# ============================
# Data & Artifacts (do not push big files)
# ============================
processed/
data/*.duckdb
data/*.index
data/*.pkl

# ============================
# FAISS
# ============================
*.index
*.pkl

# ============================
# Logs
# ============================
*.log

# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db

# ============================
# VS Code
# ============================
.vscode/
